%h1= @recipe.title
%p= @recipe.description

%br

=link_to 'Recipes', recipes_path, class:'btn btn-default'
=link_to 'Edit', edit_recipe_path, class:'btn btn-default'
=link_to 'Delete', @recipe, method: :delete, data:{ confirm:'Are you sure?' }, class:'btn btn-default'
