=image_tag @recipe.image.url( :medium ), class:'recipe_image'
%h1= @recipe.title
%p= @recipe.description

-if @recipe.ingredients.present?
  %ul
    Ingredients:
    -@recipe.ingredients.each do |ingredient|
      %li= ingredient.name
-if @recipe.directions.present?
  %ul
    Directions:
    -@recipe.directions.each do |direction|
      %li= direction.step

%br

=link_to 'Recipes', recipes_path, class:'btn btn-default'
=link_to 'Edit', edit_recipe_path, class:'btn btn-default'
=link_to 'Delete', @recipe, method: :delete, data:{ confirm:'Are you sure?' }, class:'btn btn-default'
